# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Go build artifacts
bin/
obj/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go workspace file
go.work
go.work.sum

# Dependency directories
vendor/

# Go test binary, coverage reports, etc.
*.test
*.out
coverage.out
